<nav style="--bs-breadcrumb-divider:" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= admin_users_path %>">従業員一覧</a></li>
    <li class="breadcrumb-item" aria-current="page">スキル作成</li>
  </ol>
</nav>
<%= render "form", skill: @skill %>