<h1>従業員管理サイト</h1>
<%= link_to "管理者画面", admin_users_path %><br/>

<ul>
  <% @employees.each do |employee| %>
    <li>
      <a href="/employees/<%= employee.id %>">
        <%= employee.name %>
      </a>
    </li>
  <% end %>
</ul>