<h1>部署名一覧</h1>
<%= link_to "部署名作成", new_admin_department_path %><br/>
<%= link_to "従業員一覧画面", admin_users_path %><br/>

<ul>
  <% @departments.each do |department| %>
    <li>
     <%= link_to department.name, admin_department_path(department) %>
    </li>
  <% end %>
</ul>