<h1>従業員管理サイト</h1>
<%= link_to "従業員情報登録", new_user_path %><br/>
<%= link_to "部署登録", departments_path %>
<ul>
  <% @users.each do |user| %>
    <li>
     <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>