<h1>部署名一覧</h1>
<%= link_to "部署名作成", new_department_path %><br/>
<%= link_to "従業員一覧画面", users_path %><br/>

<ul>
  <% @departments.each do |department| %>
    <li>
     <%= link_to department.department_name, department %>
    </li>
  <% end %>
</ul>