<div class="container mt-5">
    <div class="row mb-4">
        <div class="col text-center">
        <h2 class="list-group-title text-center border border-secondary p-2 bg-secondary text-white">従業員情報編集画面</h2>
        </div>
    </div>
</div>


<%= render "form", user: @user %>